.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 20px;
}

.title {
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, #08c6f6, #0b5ef7);
    border-radius: 5px 5px 0px 0px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileButton {
    width: 100%;
}