<h1 class="title">Student list</h1>
<div class="cards">

    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1668979927/img/student3_pih6b4.jpg" class="card-img-top" alt="Mike">
        <div class="card-body">
            <h5 class="card-title">Mike</h5>
            <p class="card-text">Systems Engineer student</p>
            <a href="#" class="profileButton btn btn-primary">Profile</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1668979926/img/student2_ph02lh.jpg" class="card-img-top" alt="erika">
        <div class="card-body">
            <h5 class="card-title">Erika</h5>
            <p class="card-text">Law student</p>
            <a href="#" class="profileButton btn btn-primary">Profile</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1668979924/img/student1_bbtkjg.jpg" class="card-img-top" alt="john">
        <div class="card-body">
            <h5 class="card-title">John</h5>
            <p class="card-text">Chemistry student</p>
            <a href="#" class="profileButton btn btn-primary">Profile</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/ijac-it-solutions/image/upload/v1668979925/img/student4_cop59c.jpg" class="card-img-top" alt="sandra">
        <div class="card-body">
            <h5 class="card-title">Sandra</h5>
            <p class="card-text">Advertsing student</p>
            <a href="#" class="profileButton btn btn-primary">Profile</a>
        </div>
    </div>

</div>